body {
    background: linear-gradient(to right, #1f1c2c, #928dab);
    font-family: Arial, sans-serif;
    color: #f0f0f0;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px; /* space between cards */
}

.thumbnail {
    background-color: rgba(40, 40, 40, 0.95);
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s;
    width: 360px;   /* bigger card */
    height: 780px;  /* bigger card */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.poster {
    width: 100%;
    height: 65%;
    object-fit: contain;
    border-radius: 10px;
    cursor: pointer;
}

.imageInfo {
    font-size: 14px;
    color: #ccc;
    text-align: center;
    margin-bottom: 5px;
}

.title {
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

.score {
    background-color: #39D1B4;
    color: #fff;
    font-size: 22px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    font-weight: 200;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}

.runtime, .released, .websites {
    font-size: 16px;
    text-align: center;
    margin: 3px 0;
}

.social {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
}

.likes, .dislikes {
    background-color: #ddd;
    color: #000;
    padding: 10px 25px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

.likes:hover, .dislikes:hover {
    transform: scale(1.2);
    background-color: #39D1B4;
    color: white;
}
