html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  color: #222;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}

p {
  margin: 0;
  padding: 0 10px 20px 10px;
  text-align: center;
}
