html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  color: #222;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.thumbnail {
  background-color: rgba(40,40,40,0.9);
  border-radius: 10px;
  padding: 20px;
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.poster {
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
}

.imageInfo {
  font-size: 14px;
  color: #ccc;
}

.title {
  font-size: 22px;
  margin-top: 10px;
  font-weight: bold;
}

.score {
  background-color: #39D1B4;
  color: #fff;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-weight: 200;
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  right: 20px;
}

.likes, .dislikes {
  background-color: #ddd;
  color: #000;
  padding: 8px 15px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.likes:hover, .dislikes:hover {
  transform: scale(1.2);
  background-color: #39D1B4;
  color: white;
}
